<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">
	<persistence-unit name="ThuchanhTuan09_OGM">
		<provider>org.hibernate.ogm.jpa.HibernateOgmPersistence</provider>
		<class>entity.Address</class>
		<class>entity.User</class>
		<class>entity.Comment</class>
		<class>entity.News</class>
		<properties>
			<property name="hibernate.ogm.datastore.provider" value="mongodb"/>
			<property name="hibernate.ogm.datastore.database" value="newsdb"/>
			<property name="hibernate.ogm.datastore.host" value="localhost"/>	
			<property name="hibernate.ogm.datastore.port" value="27017"/>	
			<property name="hibernate.ogm.datastore.create_database" value="true"/>
		</properties>
	</persistence-unit>
</persistence>
